body{
    background-color: powderblue;
}

.main_div{
    color: white;
    background-color: tan;
    width: 50vw;
    height: 70vh;
    margin: auto;   
    text-align: center;
    padding: 1%;
    border: 0.15rem solid black;
    border-radius: 2rem;
    min-height: 20rem;
    min-width: 20rem;
}

input{
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 1.5rem;
}

button{
    height: 1.25rem;
    margin: 0.5rem 0% 0% 0%;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

#top_div{
    
margin: 4vh 0% 0% 0%;

}

#bottom_div{

margin: 10vh 0% 0% 0%;

}